body {
  background-image: url("/assets/backgrounds/bts-zain-mango.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tournament-card {
  background-color: white;
  width: 400px;
  height: 700px;
  padding: 0px;
  text-align: center;
  text-wrap: stable;
  opacity: 80%;
  border-radius: 25px;
  overflow: hidden;
}

.tournament-image {
  background-image: url("/assets/tipped off 15.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}