/* taken from https://gwfh.mranftl.com/fonts */
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/montserrat-v26-latin-italic.woff2') format('woff2');
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/montserrat-v26-latin-500.woff2') format('woff2');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/montserrat-v26-latin-600.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/montserrat-v26-latin-700.woff2') format('woff2');
}

/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/montserrat-v26-latin-800.woff2') format('woff2');
}

/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/montserrat-v26-latin-900.woff2') format('woff2');
}

/* define keyframes for fade-in animation on cards */
@keyframes fade-in-light {
  0% {
    opacity: 0;
    translate: 0 -20px;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 0.95;
    translate: 0;
  }
}

@keyframes fade-in-dark {
  0% {
    opacity: 0;
    translate: 0 -20px;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: .95;
    translate: 0;
  }
}

/* define universal variables */
:root {
  --left-gradient: #FE5296;
  --middle-gradient: #FA617B;
  --right-gradient: #F77063;
  --link-color: #088F9C;
}

/* define variables for colors that change for light and dark mode */
body.dark-mode {
  --card-text-color: #ffffff;
  --card-background: #181a1b;
  --button-color: #2a2b2b;
  --button-color-border: #505050;
  --card-button-border-hover: #181a1b;
}

body.light-mode {
  --card-text-color: #000000;
  --button-color: #e2e2e2;
  --button-color-border: #bbbbbb;
  --card-background: #ffffff;
  --card-button-border-hover: #ffffff;
}

body {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0px;
  padding-top: 50px;
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
}

/* add the background image using an empty div */
.fixed-position {
  background-image: url("assets/backgrounds/4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100lvh;
  z-index: -1;
}

.background-gradient {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 75%));
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* change mobile background to make it less blurry and load faster */
@media screen and (max-width: 1000px) {
  .fixed-position {
    background-image: url("assets/backgrounds/mobile.webp");
  }
}

::selection {
  background-color: var(--middle-gradient);
  color: #ffffff;
}

.title {
  color: #ffffff;
  font-size: 45px;
  text-shadow: 0px 5px 25px #000000;
}

.subtitle {
  color: #ffffff;
  font-size: 35px;
  text-shadow: 10px 10px 10px #000000;
  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
li,
ul {
  margin: 0 0 0 0;
  padding: 5px;
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: none;
}

hr {
  border-style: solid;
}

.card-container {
  min-height: calc(100vh - 225px);
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dark-mode .card {
  animation: fade-in-dark .6s ease-in-out;
}

.light-mode .card {
  animation: fade-in-light .6s ease-in-out;
}

.card {
  --card-border-radius: 25px;
  --card-animation-delay: 0.2s;
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  width: 330px;
  height: fit-content;
  text-align: center;
  text-wrap: pretty;
  opacity: 95%;
  margin: 20px;
  font-size: 16px;
  transition: all 200ms, border 500ms;
  animation-fill-mode: both;
  position: relative;
}

.card:hover {
  scale: 105%;
}

.card h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}

.card p {
  padding: 5px;
  font-size: 16px;
}

.card b {
  font-weight: 600;
}

.card u {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  /* color: rgba(0, 0, 0, 50%); */
  font-size: 16px;
  font-weight: 550;
}

.card li {
  padding: 5px;
}

.card hr {
  margin: 5px 20px;
}

.hidden {
  display: none;
}

.live-badge {
  border-radius: var(--card-border-radius);
  background: linear-gradient(to right, var(--left-gradient), var(--right-gradient));
  font-weight: bold;
  color: white;
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  padding: 10px 15px;
}

.live-badge::selection {
  background-color: var(--link-color);
  color: #000000;
}

.card-content {
  background-color: var(--card-background);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
  padding-bottom: 15px;
  flex-grow: 1;
  margin-top: -2px;
  box-shadow: 0px 5px 25px #000000;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.card-location:hover {
  text-decoration: underline;
}

.featured-players {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.featured-players-columns {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

.buttons {
  margin-top: 10px;
}

.card-button {
  font-weight: 500;
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 6px;
  /* margin-bottom: 5px; */
  border: 2px solid var(--button-color-border);
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--card-text-color);
  width: 90px;
  line-height: 45px;
  height: 45px;
  border-radius: 17px;
  transition: all 200ms, color 400ms;
}

.card-button:hover {
  background-image: linear-gradient(to right, var(--left-gradient), var(--right-gradient));
  scale: 110%;
  border-color: var(--card-button-border-hover);
  color: #ffffff;
}

.card-button:active {
  transition: all 30ms;
  scale: 95%;
}

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20px;
  margin: 0 0 0 0;
  z-index: 1;
  position: relative;
}

.footer {
  background-image: linear-gradient(to right, var(--left-gradient), var(--right-gradient));
  width: max-content;
  height: max-content;
  border-radius: 25px 25px 0px 0px;
  padding: 20px 60px;
  margin: none;
}

.footer ::selection {
  background-color: var(--link-color);
  color: #000000;
}

.footer p {
  color: #ffffff;
  font-size: inherit;
  text-wrap: balance;
  line-height: 1.5;
}

.footer a {
  color: #000000;
  font-weight: 500;
}

.footer hr {
  border-color: #ffffff;
  color: #ffffff;
  margin-top: 0px;
}

.footer button {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 15px;
  margin: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
}

.footer button:hover {
  color: #000000;
  border-color: #000000;
  transition: all .35s;
  scale: 102%;
}

.footer button:active {
  scale: 95%;
}

.calendar-button {
  width: 120px;
}

.footer a:hover {
  text-decoration: underline;
}